/* @import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,500;1,500&family=Nunito:wght@200;400&family=Outfit:wght@300;400;600&family=Prompt:wght@200;300&family=Space+Mono&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,500;1,500&family=Courgette&family=Nunito:wght@200;400&family=Outfit:wght@300;400;600&family=Prompt:wght@200;300&family=Space+Mono&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,500;1,500&family=Nunito:wght@200;400&family=Outfit:wght@300;400;600&family=Philosopher&family=Prompt:wght@200;300&family=Space+Mono&display=swap');

/* Reset the default values, set the width, height, and background-color. */

@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Bungee);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

/*body {
    width: 100vw;
    height: 100vh;
    background-color: /*#fbfaff *//*black; navy #f8edeb;
}*/

body {
	width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
}
    
@keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
}



/* Typography */
header {
    font-family: 'prompt';
    font-weight: 300;
    font-size: 1em;
    color: #fff;}


body {
    font-family: 'nunito';
}

header ul li a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-family: 'Raleway';
    font-weight: 400;
    text-align: center;
    font-size: 3em;
    font-style: italic;
}

.slogan, h3 {
    font-family: 'Raleway';
    font-size: 1em;
}

.top-container {
    color: #fff;
}

.right-text {
    font-family: "nunito";
    text-align: justify;
}

.name {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 600;
}

/* ### Page Layout */


/* ##Header and menu*/
header {
        height: 10vh;
        width: 100vw;
        background-color: transparent;
        /*background-color: #ADE8F4;*/
        /*border-bottom: 1px solid #f8f9fa;*/
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;}
    
header ul li {
    list-style-type: none;
    display: inline-block;
    margin: 1em;}

.logo {
    width: 5em;
    height: 5em;}

.social-networking img {
    width: 2em;
    height: 2em;
    margin: 0.5em;}


/* Menu animations */
header ul li a:hover {
    border-bottom: 1px solid #9D4EDD;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}


/* ##Main */
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}

/* Top Container */
.top-container {
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center ;
}

.right-text {
    position: relative;
    width: 50vh;
    /* height: 75%; */
    z-index: 1;
    margin-top: 3em;
    float: right;
    /* right: 3em; */
}

h1 {
    padding: 1em;
}

.slogan {
    width: 50vh;
    /* height:100%; */
    /* left: 50%; */
    padding-top: 10%;
    text-align: left;}

/* Footer */

footer {
    width: 100vw;
    height: 20vh;
    background-color: crimson;
}