@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,500;1,500&family=Nunito:wght@200;400&family=Outfit:wght@300;400;600&family=Prompt:wght@200;300&family=Space+Mono&display=swap');

/* Reset the default values, set the width, height, and background-color. */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

body {
    width: 100vw;
    height: 100vh;
    background-color: #fbfaff /*black; navy*/}



/* Typography */
header {
    font-family: 'prompt';
    font-weight: 300;
    font-size: 1em;
    color: #000;}

body {
    font-family: 'nunito';
}

header ul li a {
    text-decoration: none;
    color: #000;
}

h1 {
    font-family: 'Cormorant';
    font-weight: 400;
    text-align: center;
    font-size: 3em;
    font-style: italic;
}

/* ### Page Layout */

/* Header and menu*/
header {
        height: 10vh;
        width: 100vw;
        background-color: transparent;
        /*background-color: #ADE8F4;*/
        /*border-bottom: 1px solid #f8f9fa;*/
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;}
    
header ul li {
    list-style-type: none;
    display: inline-block;
    margin: 1em;}

.logo {
    width: 5em;
    height: 5em;}

.social-networking img {
    width: 1.5em;
    height: 1.5em;
    margin: 0.5em;}

/* Menu animations */
header ul li a:hover {
    border-bottom: 1px solid #9D4EDD;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}


/* Main */
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}

/* Circle and center image */
.top {
    width:100vw;
    height: 100vh;
}
.center-circle { 
    position: relative;
    height: 60%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    clip-path: circle();
    background-color: /*#8c07dd*/ /*#9c46c3*/ /*rgb(155, 69, 195)*/ #a713f6;
    z-index: 1;
    margin-top: 3em;
    /* margin-left: 50%; */
    /* margin: 0 auto; */
}
/*
.center-circle {
    width: 15vw;
    height: 15vh;
    margin: 0 auto;
}

.center-img img{
    width: 15vw;
    height: 15vh;
    /* z-index: 2; 
}*/

h1 {
    padding: 1em;
}

/* Footer */

footer {
    width: 100vw;
    height: 20vh;
    background-color: crimson;
}